
.flex {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.flex>* {
  flex: 1;
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 var(--gap) 0;
  color: var(--color-1);
}

.marginBottom {
  margin-bottom: var(--gap);
}

@media screen and (max-width: 64rem) {
  .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 48rem) {
  .flex {
    flex-direction: column;
  }
}