
.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-5);
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

@media screen and (max-width: 48rem) {
  .flex {
    flex-direction: column;
  }
}