
.loading {
  border: var(--gap-s) solid var(--color-2);
  border-right-color: var(--color-4);
  border-radius: 50%;
  width: var(--gap);
  height: var(--gap);
  margin: auto;
  margin-top: 4rem;
  animation: spin 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
